*{
    margin:0;
    padding:0;
}

.nav{
    list-style-type: none;
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 85px;
}

.nav_item{
    padding: 5px 80px;
}

.nav_item a{  
    text-decoration: none;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(243 135 68);
}

.navitem a:hover{
    text-decoration: none;
    color: rgb(255, 82, 70);
    font-size: 18px;
}

/* carousel */


/* Slideshow container */

.slideshow-container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    margin: 10px auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fe904b;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dotty{
      margin:-6px 0;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 2px 2px 20px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #fe904b;
  }
  .slideshow_images{
      width: 90%;
      margin: auto;
      display: block;
  }

  /* Categories */

  .categories{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgb(243 135 68);
      font-size: xx-large;
  }

  .boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin-top: 26px;
  }

  .container{
      background-color: black;
      width:300px;
      height:370px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: center;
      font-size: large;
      margin:0px 42px 26px 42px;
  }

  .container img{
    width: 80%;
    align-self: center;
    margin: auto;
  }

  .label{
    border: solid #fe904b;
    border-width: 6px 0px 0px 20px;
    color: white;
    padding: 8px 7px 8px 15px;
    font-family:system-ui;
    letter-spacing: 5px;
  }